.container-task {
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: rgb(97, 97, 97);
  border-radius: 20px;
}
.container-task:hover{
  box-shadow: 0 0 10px rgb(182, 111, 19);
}
.text-task {
  width: 85%;
  height: auto;
  padding-left: 20px;
  border-bottom: 1px dotted gray;
  display: flex;
  align-items: start;
  font-size: 1.5rem;
  color: rgb(235, 235, 235);
}
.change-button {
  width: 40px;
  height: 30px;
  border-radius: 10px;
  font-size: 2rem;
  background-color: rgb(255, 255, 255);
  color: rgb(141, 141, 141);
}
.change-button:hover{
  background-color: rgb(236, 101, 101);
  color:white;
}
.isCheck {
  text-decoration: line-through;
}
@media (max-width: 850px) {
  .container-task {
    width: 100%;
  }
  .text-task {
    width: 70%;
    white-space: wrap; /* Evita el ajuste de línea */
  overflow:scroll; /* Oculta el contenido desbordado */
  text-overflow: ellipsis; 
  }
}
