.button-check {
  width: 40px;
  height: 40px;
  padding: 0;
  background-color: none;
  background: none;
  border: none;
  cursor: pointer;
}

.button-check .svg {
  width: 90%;
  height: 90%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-check path {
  transform: translate(0px, 0px);
}

.color-check {
  fill: rgb(247, 247, 247);
}
.color-check-green {
  fill: rgb(105, 255, 68);
}
@media (max-width: 850px) {
  .button-check .svg {
    width: 170%;
    height: 110%;
  }
  .button-check path {
    transform: translate(5px, 4px);
  }
}
