.button-check {
  width: 40px;
  height: 40px;
  padding: 0;
  background-color: none;
  background: none;
  border: none;
  cursor: pointer;

}

.button-check .svg {
  width: 100%;
  height: 100%;
  text-align: center;
    display: flex;
  align-items: center;
  justify-content: center;
}

.button-check path {
  transform: translate(8px,4px);
}

.color-check-green{
  fill: rgb(68, 165, 255);
}
@media (max-width:600px) {
  .button-check path {
  transform: translate(0px,4px);
}
}