.container-generated-tasks {
  width: 60vw;
  height: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  overflow: auto;
  margin-top: 10px;
  border-radius: 40px;
  box-shadow: 0 0 20px gray;
  background-color: rgb(216, 217, 218);
  gap: 10px;
  
}
@media (max-width: 850px){
  .container-generated-tasks {
    width: 100%;
    height:40vh;
    z-index: 1;
  }
}
