:root{
  font-size: 62.5%;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  box-sizing: border-box;
  height: 99vh;
  background-color: rgb(41, 41, 41);
  position: relative;
  padding: 10px;
  overflow: hidden;
}

#root{
  position: relative;
}